header{
    padding-top: 5cap;
}

img{
    height: 100vmin;
    pointer-events: none;
}

.back {
    background-image: url("images/studio.jpg"); 
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure it takes up the full screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(6, 155, 235); /* Ensure text is visible */
    justify-content: center;
}

